{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h2>Editer Les Articles</h2>
        {{ include ("admin/property/form.html.twig" ,{form: form , button : 'editer'}) }}
    </div>
{% endblock %}

